.docs-component-viewer-nav .docs-component-viewer-nav-content {
  width: 24rem;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 6.4rem;
  right: 0;
  border-left: 1px solid rgba(0,0,0,.12);
}
