<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <mat-nav-list role="navigation">
<!--      <a mat-list-item href="..." *ngFor="let link of links"> {{ link }} </a>-->
      <a mat-list-item [routerLink]="['/','test']"> Test</a>
      <a mat-list-item [routerLink]="['/','test2']"> TEST 2</a>
      <a mat-list-item href=""> option 3</a>
      <a mat-list-item href=""> option 4</a>
      <a mat-list-item href=""> option 5</a>
      <a mat-list-item href=""> option 6</a>
      <a mat-list-item href=""> option 7</a>
      <a mat-list-item href=""> option 8</a>
      <a mat-list-item href=""> option 9</a>
      <a mat-list-item href=""> option 10</a>
    </mat-nav-list>
  </div>
</div>
